.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 30px 8px 6px 16px;
  font-family: Arial,SansSerif;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.sidebar a:active {
  background-color: #4CAF50;
  color: white;
}

.logo{
  float: left;
  height: 70px;
  width: 150px;
}
h2 {
  padding-left: 160px;
  font-family: SansSerif, Arial;
}
.cover{
  width: 300px;
  height: 300px;
}
a {
  display: none;
}
.wrapper{
  overflow: hidden;
  padding-left: 160px;
  border-style: solid;
  border-width: thick;
}
.last{
  display: inline;
  float: left;
}

.description{
  display: inline;
  float: right;
  list-style: none;

  font-family: SansSerif, Arial;
  font-size: 20px;
  font-weight: bold;
}
li{
  margin: 0 0 40px 0;
}



