<p class="h2">Hi {{currentUser.username}}! let's Explore</p>


<form [formGroup]="queryForm" (ngSubmit)="onSubmit()" class="searchbar">
  <div class="input-group">
    <label for="query"></label>
    <input type="text" formControlName="query" class="form-control" placeholder="Search..." [ngClass]="{ 'is-invalid': submitted && q.query.errors }" />
    <div class="input-group-append" id="button-addon4">
      <button class="btn btn-outline-secondary" type="submit" (click)="onTrackClick()">Track</button>
      <button class="btn btn-outline-secondary" type="submit" (click)="onAlbumClick()">Album</button>
    </div>
    <div *ngIf="submitted && q.query.errors" class="invalid-feedback">
      <div *ngIf="q.query.errors.required">You need to type at least one sign</div>
    </div>
  </div>
</form>

<div *ngIf="divider === true; else elseBlock">
  <ul class="tracks">
    <li *ngFor="let track of tracks" (click)="onSelectTrack(track)">
      <span>
        <img src="{{track.cover}}" alt="Album cover" class="cover">
      </span>
      <div class="details">
        <p class="title">{{track.title}}</p>
        <p class="artist">{{track.artist}} - {{track.album}}</p>
      </div>
      <button type="button" class="btn btn-outline-dark" (click)="addTrack()">Add</button>
    </li>
  </ul>
  <div class="player">
    <mat-basic-audio-player class ="player" [audioUrl]="msbapAudioUrl"
                            [title]="msbapTitle"
                            [autoPlay]="msbapAutoPlay" muted="muted"
                            [displayTitle]="msbapDisplayTitle"
                            [displayVolumeControls]="msbapDisplayVolumeControls" >
    </mat-basic-audio-player>
  </div>
</div>
<ng-template #elseBlock>
  <ul class="tracks">
    <li *ngFor="let album of albums" (click)="onSelectAlbum(album)">
      <span>
        <img src="{{album.cover}}" alt="Album cover" class="cover">
      </span>
      <span class="details">
        <p class="title">{{album.title}}</p>
        <p class="artist">{{album.genre}}</p>

      </span>
      <button type="button" class="btn btn-outline-dark" (click)="addAlbum()" >Add</button>
    </li>
  </ul>
</ng-template>
