<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <img src="/assets/img/logo.png" width="50px" height="50px">
    <a class="nav-item nav-link" routerLink="/"><p class="h3">Explore</p></a>
    <a class="nav-item nav-link" routerLink="/tracks"><p class="h3">My Tracks</p></a>
    <a class="nav-item nav-link" routerLink="/albums"><p class="h3">My Albums</p></a>
    <a class="nav-item nav-link" (click)="logout()"><p class="h3">Logout</p></a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright text-center py-3">© 2020 Copyright:
  <a href="https://www.deezer.com/pl/"> deezer.com.pl</a> && Damian Rodziewicz
</div>


