.albums {
  margin: 0 0 3em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.albums li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: 2.2em;
  padding: .1em 0 9em;
  height: 120px;
  border-radius: 4px;
  width: 500px;

}

.albums li:hover {
  color: #607D8B;
  background-color: #DDDDDD;
  left: .1em
}

.albums li.selected {
  background-color: #CCCCCC;
  color: black;
}
.albums li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.albums .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 1.7em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 120px;
  width: 120px;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.albums .details {
  display: inline-block;
  font-size: 10px;
  color: black;
  width: 250px;
  position: relative;
}

.albums .delete {
  display: inline;
  background-color: orangered;
  border: none;
  color: white;
  justify-content: right;
  position: relative;
  padding: 0.8em 0.7em 0 0.7em;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  border-radius: 4px;
}
.cover {
  position: relative;
  bottom: 0.7em;
  height: 125px;
}

